@import url('https://fonts.googleapis.com/css?family=Khula:800');

/* Add a black background color to the top navigation */
.topnav {
    background-color: #FFFFFF;
    overflow: hidden;
    display: inline-block;
    list-style-type: none;
    font-family: 'Khula', sans-serif;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Khula', sans-serif;
}

/* Add an active class to highlight the current page */
.active {
    background-color: #FFFFFF;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: black;
    padding: 20px;
    background-color: inherit;
    margin: 0;
    font-family: 'Khula', sans-serif;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 50px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
    z-index: 3;
    font-family: 'Khula', sans-serif;
}

/* Style the links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 16px;
    font-family: 'Khula', sans-serif;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f9f9f9;
    color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
    display: block;
}
