body {
  max-width: 100%;
  background-color: ;
  font-family: Courier New;
  text-align: center;
}

p {
  font-size:18;
  line-height: 22px;
}

h1 {
  font-style:;
  font-weight: ;
  font-size:45;
  color: ;
}

h2 {
  font-style: ;
  font-size:35;
  color:#c0392b;
}

h5 {
  font-size:14;
  color:
}

.done {
  font-family: Courier;
  line-height: 40px;
}

.subject {
  font-size:14;
  color:#909497;
  }

"font-size:65"

#names{
  font-weight: bold;
}

#rounded-box{
  width: 250px;
  height: 150px;
  margin: 12px;
  padding: 5px;
  border: 2px solid black;
  background-color: cyan;
}

#positioned {
  position: relative;
  top: 6px;
  left: 100px;
}
