

#button{
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 43px;
    font-style: italic;
    margin: 2px 2px;
    cursor: pointer;
}
