#box{
  width:8.5in;
  height:11in;
  background-color: #F4E0D9;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(#F8C9B8, #F7BDBC, #F5ABC4, #E3AECC, #D1B3D5, #C5B7DA, #B4BEE1, #A4C6E9);
}

#title{
  font-size: 80px;
  color: #FFFFFF;
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loveyourself{
  font-size: 70px;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  position: absolute;
  top: 36%;
  left: 35%;
  transform: translate(-50%, -50%);
  transform: rotate(-20deg);
}

#northamerica{
  font-size: 30px;
  color: #FFFFFF;
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#circle {
  background: #D8C8DB;
  border-radius: 50%;
  height: 350px;
  width: 350px;
  background: radial-gradient(circle at 100px 100px, #ebdef0, #fbfcfc);
  position: fixed;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#la{
  font-size: 17px;
  color: #FFFFFF;
  position: fixed;
  top: 73%;
  left: 31.5%;
  transform: translate(-50%, -50%);
}

#oakland{
  font-size: 17px;
  color: #FFFFFF;
  position: fixed;
  top: 73%;
  left: 42%;
  transform: translate(-50%, -50%);
}

#fortworth{
  font-size: 17px;
  color: #FFFFFF;
  position: fixed;
  top: 73%;
  left: 53.5%;
  transform: translate(-50%, -50%);
}

#hamilton{
  font-size: 17px;
  color: #FFFFFF;
  position: fixed;
  top: 73%;
  left: 67%;
  transform: translate(-50%, -50%);
}

#newark{
  font-size: 17px;
  color: #FFFFFF;
  position: fixed;
  top: 88%;
  left: 37%;
  transform: translate(-50%, -50%);
}

#chicago{
  font-size: 17px;
  color: #FFFFFF;
  position: fixed;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#ny{
  font-size: 17px;
  color: #FFFFFF;
  position: fixed;
  top: 88%;
  left: 63%;
  transform: translate(-50%, -50%);
}
