
#box{
  width:8in;
  height:2.3in;
  background-color: #F4E0D9;
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(#F8C9B8, #F7BDBC, #F5ABC4, #E3AECC, #D1B3D5, #C5B7DA, #B4BEE1, #A4C6E9);
}

#title{
  font-size: 80px;
  color: #FFFFFF;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

blink {
        animation: blinker 2s linear infinite;
        font-size: 73px;
        -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: #F5ABC4;
        position: absolute;
        top: 35%;
        left: 34%;
       }
      @keyframes blinker {
        50% { opacity: 0; }
       }
       .blink-one {
         animation: blinker-one 2s linear infinite;
       }
       @keyframes blinker-one {
         0% { opacity: 0; }
       }
       .blink-two {
         animation: blinker-two 2s linear infinite;
       }
       @keyframes blinker-two {
         100% { opacity: 0; }
       }

#northamerica{
  font-size: 30px;
  color: #FFFFFF;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#la{
  font-size: 17px;
  color: #FFFFFF;
  position: fixed;
  top: 66.2%;
  left: 37.3%;
  transform: translate(-50%, -50%);
}

#oakland{
  font-size: 17px;
  color: #FFFFFF;
  position: fixed;
  top: 66.2%;
  left: 49.8%;
  transform: translate(-50%, -50%);
}

#fortworth{
  font-size: 17px;
  color: #FFFFFF;
  position: fixed;
  top: 66.2%;
  left: 62.4%;
  transform: translate(-50%, -50%);
}

#newark{
  font-size: 17px;
  color: #FFFFFF;
  position: fixed;
  top: 88%;
  left: 37.3%;
  transform: translate(-50%, -50%);
}

#chicago{
  font-size: 17px;
  color: #FFFFFF;
  position: fixed;
  top: 88%;
  left: 49.8%;
  transform: translate(-50%, -50%);
}

#ny{
  font-size: 17px;
  color: #FFFFFF;
  position: fixed;
  top: 88%;
  left: 62.3%;
  transform: translate(-50%, -50%);
}

#flex-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 40vw;
  height: 40vh;
}

.circle{
  width: 170px;
  height: 170px;
  background: radial-gradient(circle at 90px 90px, #E3AECC, #ffffff);
  border-radius: 100px;
  transform: translate(1);
  position: relative;
  top: 138.5%;
  left: 73%;
}

.circle:hover{
  transform: scale(1.1);
}

.circletwo{
  width: 170px;
  height: 170px;
  background: radial-gradient(circle at 90px 90px, #E3AECC, #ffffff);
  border-radius: 100px;
  transform: translate(1);
  position: relative;
  top: 143%;
  left: 73%;
}

.circletwo:hover{
  transform: scale(1.1);
}
