body {
	color: #333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.column {
	margin: 290px 320px 0;
	padding: 0;
}

.column div {
	position: relative;
	float: left;
	width: 300px;
	height: 200px;
	margin: 0 0 0 40px;
	padding: 0;
}

.column div span {
	position: absolute;
	bottom: -20px;
	z-index: -1;
	display: block;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}

figure {
	width: 300px;
	height: 220px;
	margin: 0;
	padding: 0;
	background: #c0c0c0;
	overflow: hidden;
}

figure:hover+span {
	bottom: -70px;
	opacity: 1;
}

.hover11 figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover11 figure:hover img {
	opacity: .3;
}

.button{
	transform: translate(-530px, 470px);
	background-color: #f9e79f;
  color: white;
  padding: 16px ;
	border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}
