@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:300,700');

body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  margin: 0px;
  padding: 2rem;
}

.circle{
  width: 200px;
  height: 200px;
  background-color: #F8BD32;
  border-radius: 1000px;
  transition: all 1s ease;
  position: relative;
  transform: translate(0px, 140px);
}

.scale{
  transform: scale(1.2);
}

.text{
  font-family: Alegreya Sans;
  font-weight: 300;
  font-size: 2rem;
  width: 100vw;
  text-align: center;
  box-sizing: border-box;
}

#tempText{
  color: #F8BD32;
  position: relative;
  transform: translate(0px, 650px);
  font-size: 25px;
}

#windText{
  color: #BFE5F7;
  transform: translate(0px, 330px);
  font-size: 25px;
}

#wind{
  background-color: #BFE5F7;}

#zipcode{
  transform: translate(-200px, -740px);
}

#enter{
  transform: translate(-200px, -740px);
  color: white;
}

.location{
  font-family: Alegreya Sans;
  font-weight: 700;
  position: relative;
  transform: translate(0px, -500px);
  color: white;
  font-size: 50px;
}

.date{
  font-family: Alegreya Sans;
  font-weight: 300;
  position: relative;
  transform: translate(0px, -580px);
  color: white;
  font-size: 25px;
}

form {
  display: flex;
  margin-left: auto;
  > * {
    flex: 1 auto;
  }
  button {
    min-width: 50px;
  }
}

input {
  outline: 0;
  padding: 10px;
  background: rgba($light,.05);
  opacity: .5;
  &:hover,
  &:focus {
    opacity: 1;
  }
}

button {
  background: none;
  background-color: $light;
  border: 0;
  outline: 0;
  border: 2px solid $light;
  padding: 10px;
  transition: $transition;
  color: $main;
  opacity: .5;

  &:hover,
  &:focus {
    border-color: $light;
    background-color: $light;
    color: $main-dark;
    opacity: 1;
  }

  span:first-child {
    display: none;
  }

  @media (min-width: 675px) {
    span:first-child {
      display: block;
    }
    span:last-child {
      display: none;
    }
  }

}
