p{
  position: absolute;
  color: white;
  font-family: 'Poiret One', sans-serif;
  font-size: 30px;
  transform: translate(750px, 60px);
  color: #DD38A5;
}

body {
  background: #000;
  font-family: 'Poiret One', cursive;
  color: #DD38A5;
}

.clock {
  font-size: 4em;
  transform: translate(710px, 260px);
}
